*{
    margin: 0px;
    padding: 0px;
}
#father{
    width: 1519px;
    height: 900px;
    margin: 0px auto;
    background-color: #F5F5F5;
}
li{
    list-style-type: none;
}
/* 头部 */
#father .header{
    width: auto;
    height: 70px;
    background-color:#242424;
}
#father .first{
    height: 70px;
    width: 1220px;
    margin: 0px auto;
    
}
#father .first .left{
    float: left;
    background-repeat: no-repeat;
    background-image: url(../images/logo.jpg);
    background-size: 176px 70px;
    width: 176px;
    height: 70px;
}
#father .first .center{
    float: left;
    clear: right;
    width: 634px;
    height: 70px;
}

#father .first .center .wuxu li{
    float: left;
    height: 70px;
    padding: 0px 16px;
    text-align: center;
    line-height: 70px;
    overflow: hidden;
}
#father .first .center .wuxu li a{  
    color: #ccc;
    text-decoration: none;
}
#father .first .center .wuxu li:hover{
    background-color: black;
    
}
#father .first .center .wuxu li:hover a{
    color: white;
}

#father .first .right{
    float: right;
    clear: right;
    width: 410px;
    height: 70px;
}
#father .first .right .input{
    width: 161px;
    height: 70px;
    float: left;
}
#father .first .right .input .put{
    width: 155px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    margin: 20px 0px;
    text-indent: 30px;
    /* 解决蓝色边框 */
    outline: 0px;
    background-repeat: no-repeat;
    background-image: url(../images/biao.png);
    border: 0px;
    background-size:28px 28px;
}
#father .first .right .creation{
    float: left;
    width: 122px;
    height: 32px;
    margin: 17.5px 0px;
    font-size: 13px;
    line-height: 32px;
    border: 1px solid #4F4F4F;
    text-align: center;
    position: relative;
    border-radius: 32px;
    background-color: black;
}
#father .first .right .creation a{
   color: #ccc;
   text-decoration: none;
}
#father .first .right .creation:hover {
    border: 1px solid white;
}
#father .first .right .creation:hover a{
    color: red;
}
/* 显示 */
#div{
    width: 181px;
    height: 390px;
     border:0px solid;
    margin: 100px auto;
    position: relative;
    top: -111px;
    left: 173px;
}
#div .box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 55px;
   
}
#div .box img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#div .box {
    transition: all 0.1s ease;
}
#div .box img:hover{
    animation:spread 0.5s forwards;
}
@keyframes spread{
    0%{
        opacity: 1;
        transform: scale(1.05);
    }
}
#div   .box  .fix{
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
      display:none;
      position: absolute;
      margin: 0px -61px;
      width: 180px;
      height: 300px;
      border-radius: 10px;
      opacity: 0.9;
      background-color: #242424;
}
#div   .box  .fix ol{
    height: 20px;
    position: relative;
}
#div   .box  .fix ol li{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
   padding: 11px 1px;
    width:178px;
    text-align: center;
}
#div   .box  .fix .b-r{
    border-radius: 10px 10px 0px 0px;
}
#div   .box  .fix .b-b{
    border-radius: 0px 0px 10px 10px;
}
#div   .box  .fix  ol li:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: #000000;
}
#div   .box  .fix  ol li a{
    text-decoration: none;
    color: #CCCCCC;
    position: relative;
}
#div   .box  .fix  ol li:hover a{
    color: #FFFFFF;
}
#div  .box:hover .fix{
    display:block;
   
}
#father .section{
    background-color:#C20C0C;
    width: auto;
    height: 10px;
}
#father .c-section{
    float: left;
    height: 285px;
    width: 1519px;
    margin: 0px auto;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
}


#father .c-section iframe{
    width: 1519px;
    border: none;
    height: 750px;
    opacity: 0.9;
    /* margin: 0px auto;
    position: relative;
    top: 0px;
    left: 0px; */
}

#father .foot{
   
      width: 100%;
      height: 200px;
      border-top: 1px solid #D3D3D3;
      background-color: #F2F2F2;
}
#father .foot .fix{
   
    width:1220px;
    height: 200px;
    margin: 0px auto;
    position: relative;
    background-color: white;
}
#father .foot .fix .l-flie{
    float: left;
    width:610px;
    height: 200px;
    overflow: hidden;
    background-color: #F2F2F2;
}
#father .foot .fix .l-flie h6{
    font-size: 18px;
    color: grey;
    border-radius: 30px;
    width: 185px;
    border: 0px #666666 solid;
}
#father .foot .fix .l-flie p{
    font-size: 18px;
    line-height: 40px;
    color: #666666;
}
#father .foot .fix .l-flie p span{
    display: block;
    width: 185px;
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    border-radius: 30px;
    border: 0px #666666 solid;
}

#father .foot .fix .r-flie{
    float: right;
    width:610px;
    height: 200px;
    overflow: hidden;
    background-color: #F2F2F2;
}
#father .foot .fix .r-flie .dibu{
    float: left;
    height:60px;
    width: 60px;
    border: 10px #CCCCCC solid;
    border-radius: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    margin-right: 20px;
}
#father .foot .fix .r-flie .dibu span{
         position: relative;
         top: 0px;
         left: 10px;
         color: #666666;
          font-size: 40px;
}
#father .foot .fix .r-flie .dibu span a{
    color: #CCCCCC;
    text-decoration: none;
}
#father .foot .fix .r-flie .dibu span a:hover{
    text-decoration: none;
    color: gray;
    transition: 1s;
}
#father .foot .fix .r-flie .dibu p{
         font-size: 15px;
          color: #666666;
          padding-top: 20px;
}



